
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 0;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-color: #222;
  text-weight: 300;
  color: #9d9d9d;
}

.section {
  border-top: solid black 2px;
  padding: 20px 0 40px 0;
}

.black-stroke {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  text-shadow:
    1px 1px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

}
h1 {
  font-family: 'Hind', sans-serif;
  font-size: 72px;
}
h2 {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}
h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 20px;
}
a.art-lightbox {
  color: #9d9d9d;
}

#featured {
  background-image: url("images/big/113.jpg");
  height: 100px;
  width: 100%;
  display: table;
}
#featured .container {
  width: 100%;
  display: table-cell; 
  vertical-align: middle;
}

#featured h1 {
  color: #ddd;
}
#featured p.tagline {
  color: #222;
  font-weight: 600;
  font-size: 30px; !important
}
#about h2, #finishes h2, #murals h2, #paintings h2, #contact h2 { 
  color: #ddd;
}
#about::after, #finishes::after, #murals::after, #paintings::after {
  background-size: 100%;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#about {
  margin-top: 2px;
  position: relative;
}
#about::after {
  background-image: url("images/big/138.jpg");
}
#about p {
  font-weight: 400;
  font-size: 16px;
}
#finishes {
  margin-top: 2px;
  position: relative;
}
#finishes::after {
  background-image: url("images/big/105.jpg");
}
#murals {
  margin-top: 2px;
  position: relative;
}
#murals::after {
  background-image: url("images/big/113.jpg");
}
#paintings {
  margin-top: 2px;
  position: relative;
}
#paintings::after {
  background-image: url("images/big/107.jpg");
}
#contact {
  margin-top: 2px;
}
#contact p {
  margin-top: 2px;
  font-size: 20px;
}
#scrollArrow {
    position: fixed;
    opacity: 0.3;
    margin-left: -75px;
    width: 150px;
    height: 75px;
    left: 50%;
}
